<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Recetario para MDW - {%block titulo %}{% endblock %}</title>
</head>
<body>
    <header>
        {% block encabezado %}{% endblock %}
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/games">Juegos registrados</a></li>
                <li><a href="/priceAsc">Juegos ordenados por precio</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <section>
        {% block contenido %}{% endblock %}
    </section>
    <footer>
        <p>Proyecto sobre videojuegos de Django</p>
    </footer>
</body>
</html>